@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --grey-background-color: hsl(212, 45%, 89%);
  --white-background-color: hsl(0, 0%, 100%);
  --paragraph-font: 15px;
  --pry-font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--pry-font-family);
  background-color: var(--grey-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 670px;
}

h2{
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
  color: hsl(228, 45%, 44%);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    max-width: 300px;
    padding:  1rem;
    border-radius: 0.9rem;
    height: 500px;
    text-align: center;
    gap: 1rem;
  }

  img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
  }

  .text-heading {
    font-size: 1.38rem;
    font-weight: 700;
  }

  .text-para {
    font-size: var(--paragraph-font);
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-right: .4rem;
  }
}

@media screen and (max-width: 1440px) and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    max-width: 300px;
    padding:  1rem;
    border-radius: 0.9rem;
    height: 500px;
    text-align: center;
    gap: 1rem;
  }

  img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
  }

  .text-heading {
    font-size: 1.38rem;
    font-weight: 700;
  }

  .text-para {
    font-size: var(--paragraph-font);
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-right: .4rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    max-width: 300px;
    padding:  1rem;
    border-radius: 0.9rem;
    height: 500px;
    text-align: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
  }

  .text-heading {
    font-size: 1.38rem;
    font-weight: 700;
  }

  .text-para {
    font-size: var(--paragraph-font);
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-right: .4rem;
  }
}
