@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --grey-background-color: hsl(212, 45%, 89%);
  --white-background-color: hsl(0, 0%, 100%);
  --paragraph-font: 15px;
  --pry-font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--pry-font-family);
  background-color: var(--grey-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 670px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    max-width: 300px;
    padding: 17px 15px;
    border-radius: 20px;
    height: 500px;
  }

  .QR-bar {
    margin-bottom: 55px;
  }

  img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    position: relative;
  }

  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    bottom: 30px;
  }

  .text-heading {
    font-size: 22px;
    font-weight: 700;
  }

  .text-para {
    font-size: var(--paragraph-font);
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    width: 250px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    max-width: 300px;
    padding: 17px 15px;
    border-radius: 20px;
    height: 500px;
  }

  .QR-bar {
    margin-bottom: 55px;
  }

  img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    position: relative;
  }

  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    bottom: 30px;
  }

  .text-heading {
    font-size: 22px;
    font-weight: 700;
  }

  .text-para {
    font-size: var(--paragraph-font);
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    width: 250px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    max-width: 300px;
    padding: 17px 15px;
    margin-top: 50px;
    border-radius: 20px;
    height: 500px;
  }

  .QR-bar {
    margin-bottom: 55px;
  }

  img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    position: relative;
  }

  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    bottom: 30px;
  }

  .text-heading {
    font-size: 22px;
    font-weight: 700;
  }

  .text-para {
    font-size: var(--paragraph-font);
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    width: 250px;
    margin-left: 10px;
  }
}
